
#general modules
django >4.2,<4.3
python-decouple
Pillow
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
#third party modules
markdown
django-filter
coreapi
drf-yasg[validation]

#deployment modules

#Email third party modules
django-mail-templated